.background{
    background-image: url("../dist/images/joe-mcdaniel-yLympaD0S4I-unsplash.jpg");
    position: absolute;
    background-attachment: fixed;
    background-size:cover;
    opacity: .25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}