*
{
    margin: 0;
    padding: 0;
}

h2, label, input
{
    color: $main;
}

.main {
    position: relative;
    
}
.container{
    box-shadow: 0 20px 20px 20px grey;
}
.accordion {
    padding-top: 250px;
}

.content
{
    z-index: 1;
}

form{
    z-index: 2;
}
#Motivatie {
    resize: none;
  }
  .accordion-button {
      background-color: $oran;
    font-weight: bolder;
  }
  .accordion-item {
      background-color: $yell;
      opacity: 70%;
  }
.MensenFunctie,.MensenFunctie>li>ul {
    list-style-type: none;
}

.imgText
{
    background-color: $oran;
    color: $dark;
}
.accordion-button:not(.collapsed) {
    color: $dark;
    background-color: $oran;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
