*
{
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    
}
.container{
    box-shadow: 0 20px 20px 20px grey;
}
.accordion {
    padding-top: 250px;
}

.content
{
    z-index: 1;
}

form{
    z-index: 2;
}
#Motivatie {
    resize: none;
  }
  .accordion-button {
      background-color: $oran;
      opacity: 70%;
    font-weight: bolder;
  }
  .accordion-item {
      background-color: $yell;
      opacity: 70%;
  }