<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wereldwinkel Nuenen Food</title>
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <script src="../../main.js" defer></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="Wereldwinkel Nuenen Voedsel Producten">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Onze fairtrade voedsel producten.">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="Onze fairtrade voedsel producten.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../../partials/menu.html').default %>
        </div>

        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                <h1 class="text-center">Food</h1>
                <a class="p-1 btn" href="../producten">Terug</a>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-md-4 h-25 imgBorder">
                        <img src="../../images/products/food.jpg" alt="Fairtrade koffie producten" title="Fairtrade koffie producten ">
                    </div>
                    <div class="col-12 col-md-4 pt-2 pt-md-0 ps-md-3 h-25 prodText">
                        <h2>Fairtrade Original Koffie</h2>
                        <p>De bonen voor deze koffie worden met de hand geplukt in Guatemala en Nicaragua. In Nederland worden deze melange van arabica bonen gebrand en verpakt.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                    <div class="col-12 col-md-4 pt-2 pt-md-0 pe-md-3 h-25 prodText">
                        <h2>Fairtrade Original Thee</h2>
                        <p>Wereldwijd produceren kleine boeren en plantage-arbeiders onze thee. Veel arbeiders wonen op of vlakbij de theeplantages, waardoor Fairtrade de mogelijkheid geeft om een grote impact op hun leefomstandigheden te hebben. Vanwege de lage lonen zijn arbeiders vaak afhankelijk van aanvullingen in natura.</p>
                    </div>
                    <div class="col-12 col-md-4 h-25 imgBorder">
                        <img src="../../images/products/food.jpg" alt="Fairtrade thee producten" title="Fairtrade thee producten ">
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!../../partials/footer.html').default %>
    </div>
</body>

</html>