<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Geluk</title>
    <link rel="icon" type="image/x-icon" href="../../images/icon.png">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="Wereldwinkel Nuenen Geluks Producten">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Onze fairtrade Geluks producten.">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="Hier vind je onze fairtrade producten binnen het thema 'Geluk'. Denk aan gelukspoppetjes/geluksdiertjes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../../partials/menu.html').default %>
        </div>
        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            
            <div class="content">
                <h1 class="text-center p-5" >Geluk</h1>
                <a class="p-1 btn d-lg-none" href="../producten">Terug</a>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="../../images/products/gelukspop.jpg" alt="Fairtrade gelukspoppetjes" title="Fairtrade gelukspoppetjes ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Gelukspoppetjes uit Brazilie</h2>
                        <p>Ze zijn bedoeld als eenvoudige talismannen die je gezondheid, liefde of 
                            iets anders goeds toewensen. Ze staan voor de kracht van het kleine.
                            Bonequinhas da sorte', gelukspoppetjes, het meest succesvolle fair trade 
                            product uit Brazilië. Voor veel vrouwen is er weinig tot geen werk in 
                            Brazilië en hun positie is veelal slecht. 
                             De verschillende onderdelen van de gelukspoppetjes kunnen door de 
                            vrouwen thuis geproduceerd worden zodat werk en gezin zeer goed te 
                            combineren zijn. 
                            Als je een bonequinha op je hart draagt geeft het gezondheid. Met een 
                            bonequinha in je portemonnee geef je minder geld uit. In de auto biedt het
                            bescherming. En heb je een bonequinha in je broekzak dan ontvang je veel
                            passie</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                    
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                        <h2>Geluksolifantjes uit Sri-Lanka</h2>
                        <p>Deze kleine olifantjes worden uit de afvalstukjes van rubberhout gemaakt. 
                            Ze worden met de hand uitgesneden en beschilderd.</p>
                    </div>
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="../../images/products/geluk.jpg" alt="Fairtrade geluksdiertjes" title="Fairtrade geluksdiertjes ">
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="../../images/products/popbak.jpg" alt="Fairtrade gelukspoppetjes" title="Fairtrade gelukspoppetjes ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Zorgpoppetjes uit Guatemala</h2>
                        <p>Deze gelukspoppetjes behoren tot de rijke traditie van de Maya-Indianen. 
                            Ze worden met zorg en volledig met de hand gemaakt.
                            Als je zorgen hebt, deel ze dan met het zorgpoppetje. Als je gaat slapen 
                            leg je het poppetje onder je kussen. Terwijl je slaapt laat het popje je 
                            zorgen verdwijnen.....</p>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!../../partials/footer.html').default %>
    </div>
</body>

</html>