<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Interieur</title>
    <link rel="icon" type="image/x-icon" href="./images/icon.png">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="Wereldwinkel Nuenen Interieur Producten">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="./images/footer2.png" >
    <meta property="og:description" content="Onze fairtrade Interieur producten.">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content=" Vind hier leuke fairtrade interieurproducten om je huis mee op te fleuren.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="./images/Black_on_orange_dotted_world_map_vector2.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../../partials/menu.html').default %>
        </div>
        <main class="row main m-0 justify-content-md-center pt-5 pb-5">
            
            <div class="content">
                <h1 class="text-center p-5" >Interieur</h1>
                <a class="p-1 btn d-lg-none" href="./producten">Terug</a>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/lotusbloem.jpg" alt="Lotusbloem kaarsenhouder gemaakt van capiz" title="Lotusbloem kaarsenhouder gemaakt van capiz ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Lotusbloem kaarsenhouders</h2>
                        <p>De kaarsenhouder is gemaakt van ‘capiz’. Dit is een schelpensoort die 
                            vooral gevonden wordt
                            aan de kust van de Filippijnen en Indonesië.  De lotusbloem heeft vele 
                            symbolische betekenissen, zoals (zon)licht, reinheid en vrede.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                        <h2>Keep leaf (boterhamzak)</h2>
                        <p>De fabriek van Keep Leaf ligt in India en is ETI (Ethical Trade Initiative) 
                            gecertificeerd wat garant staat voor verantwoordelijke producten en 
                            tevens een verantwoordelijke bedrijfsvoering.</p>
                    </div>
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/Keepleaf.jpg" alt="Fairtrade boterhamzakjes" title="Fairtrade boterhamzakjes ">
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/schaal.jpg" alt="Lotusbloem kaarsenhouder gemaakt van capiz" title="Lotusbloem kaarsenhouder gemaakt van capiz ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Tunesische schalen</h2>
                        <p>Deze schalen worden gemaakt in Tunesië rond Nabeul. Hier komt de klei 
                            vandaan die geschikt is voor fijn aardewerk zoals serviesgoed. Het 
                            pottenbakken is in Tunesië een traditioneel ambacht. Iedereen binnen de 
                            familie is bij het productieproces betrokken. Het ambachtswerk is erg 
                            belangrijk voor de niet- of laaggeschoolden en geeft hen de mogelijkheid 
                            om in hun eigen levensonderhoud te voorzien. Met de aankoop van deze 
                            schalen draagt u bij aan een zelfstandig en menswaardig bestaan voor 
                            deze families in Tunesië.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                        <h2>Mozaïek schalen</h2>
                        <p>Diverse huishoudelijke gebruiksartikelen. Het doel van onze werkwijze is 
                            het verhogen van de levensstandaard van de lokale bevolking.  Sarana 
                            streeft hierbij naar het opbouwen van een eerlijke duurzame 
                            handelsrelatie.</p>
                    </div>
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/Interieur.jpg" alt="Fairtrade boterhamzakjes" title="Fairtrade boterhamzakjes ">
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/doppers.jpg" alt="Fairtrade Dopper flessen " title="Fairtrade Dopper flessen ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Doppers</h2>
                        <p>Deze waterfles is ontwikkeld om de vervuiling, door de gigantisch 
                            hoeveelheid weggegooid plastic, te verminderen. Op 10 oktober 2010 
                            heeft Dopper in Nederland Duuurzaamheidsdag in het leven geroepen. 
                            Vanaf toen is deze oceaan reddende waterfles zijn ontdekkingstocht
                             begonnen om de boodschap met de rest van de wereld te delen.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                        <h2>Sjaal met Verhaal uit Nepal</h2>
                        <p>Onderzetters groot en klein, sjaals, maar ook kleedjes voor de kinderkamer
                            worden vervaardigd door Nepalese vrouwen. In Nepal is een geweldig 
                            project opgestart dat vrouwen helpt om een eigen inkomen te verdienen.</p>
                    </div>
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/sjaal.jpg" alt="Fairtrade kinder dromenvangers " title="Fairtrade kinder dromenvangers ">
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/kiezelkaars.jpg" alt="Fairtrade kinder dromenvangers " title="Fairtrade kinder dromenvangers ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Kiezelkaars</h2>
                        <p>Kaars van gecertificeerde palmolie uit Indonesië, in de vorm van een 
                            steen. De kaars brandt lang en schoon.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                        <h2>Kussens</h2>
                        <p>Only natural is ontstaan na een reis naar India .Het bedrijf ziet toe op een 
                            eerlijke beloning voor de werknemers en goede arbeidsomstandigheden. Zij 
                            maken geen gebruik van tussenpersonen maar werken rechtstreeks met de 
                            producenten van de producten. Er is veel aandacht voor een persoonlijk 
                            contact met de leveranciers</p>
                    </div>
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/kussens.jpg" alt="Fairtrade kussens uit India " title="Fairtrade kussens uit India ">
                    </div>
                </div>
                <div class="d-flex justify-content-md-center flex-wrap pt-5">
                    <div class="col-12 col-lg-4 h-25 imgBorder">
                        <img src="./images/products/kiezelkaars.jpg" alt="Fairtrade kinder dromenvangers " title="Fairtrade kinder dromenvangers ">
                    </div>
                    <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                        <h2>Swazi kaarsen</h2>
                        <p>In Swaziland verdient een deel van de lokale bevolking een vast inkomen 
                            met het maken van deze unieke kaarsen van Swazi-candles.</p>
                    </div>
                </div>
            </main>
            <%= require('html-loader!../../partials/footer.html').default %>
    </div>
</body>

</html>