<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wereldwinkel Nuenen Interieur</title>
    <script src="../../main.js" defer></script>
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                    class="img-fluid d-none d-sm-none d-md-block" alt=""></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../../partials/menu.html').default %>
        </div>
        <main class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                <h1 class="text-center p-5" >Interieur</h1>
                <div class="d-flex justify-content-evenly pt-5">
                    <div class="col-5 h-45 imgBorder">
                        <img src="../../images/products/lotusbloem.jpg">
                    </div>
                    <div class="col-5 h-45">
                        <h2>Lotusbloem kaarsenhouders</h2>
                        <p>kaarsenhouder is gemaakt van ‘capiz’. Dit is een schelpensoort die vooral gevonden wordt aan de kust van de Filippijnen en Indonesië. De lotusbloem heeft vele symbolische betekenissen, zoals (zon)licht, reinheid en vrede.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly pt-5">
                    <div class="col-5 h-45">
                        <h2 class="text-end">Keep leaf (boterhamzak)</h2>
                        <p class="text-end">De fabriek van Keep Leaf ligt in India en is ETI (Ethical Trade Initiative) gecertificeerd wat garant staat voor verantwoordelijke producten en tevens een verantwoordelijke bedrijfsvoering, internationaal erkende testlaboratoria worden ingezet om kwaliteit en overeenstemming met internationale normen te waarborgen. Keep Leaf gelooft in een werkomgeving die rechtvaardige lonen, langdurige werkgelegenheid, onderwijs en opleiding voor werknemers steunt, om zo te helpen bouwen aan een betere toekomst. De collecties van Keep Leaf zijn ontworpen met het oog op het milieu, en de bevordering van het gebruik van duurzame, biologische producten en materialen. Keep Leaf steunt jaarlijks een goed doel of organisatie door een deel van de opbrengsten van elk verkocht product te doneren.</p>
                    </div>
                    <div class="col-5 h-45 imgBorder">
                        <img src="../../images/products/Keepleaf.jpg">
                    </div>
                </div>
                <div class="d-flex justify-content-evenly pt-5">
                    <div class="col-5 h-45 imgBorder">
                        <img src="../../images/products/doppers.jpg">
                    </div>
                    <div class="col-5 h-45">
                        <h2>Doppers</h2>
                        <p>Everaarts heeft besloten na een schokkende documentaire over hoe de hoeveelheid plastic het voor elkaar krijgt om onze oceanen binnen te dringen, die vervolgens veranderen in een gigantische vuilnisbelt lijkend op plastic soep. Hij heeft ook gemerkt hoeveel single-use plastic waterflessen elke dag worden weggegooid, hoewel in veel landen het beste drinkwater uit de kraan komt. Op 10 oktober 2010 heeft Dopper in Nederland Duuurzaamheidsdag in het leven geroepen. Vanaf toen is deze oceaan reddende waterfles.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly pt-5">
                    <div class="col-5 h-45">
                        <h2 class="text-end">Sjaal met Verhaal</h2>
                        <p class="text-end">Onderzetters groot en klein, sjaals, maar ook kleedjes voor de kinderkamer, worden vervaardigd door Nepalese vrouwen. De vilten onderzetters, soms bestaande uit vilten bolletjes, hebben de prachtigste kleuren. In Nepal is een geweldig project opgestart dat vrouwen helpt om een eigen inkomen te verdienen</p>
                    </div>
                    <div class="col-5 h-45 imgBorder">
                        <img src="../../images/products/sjaal.jpg">
                    </div>
                </div>
                <div class="d-flex justify-content-evenly pt-5">
                    <div class="col-5 h-45 imgBorder">
                        <img src="../../images/products/kiezelkaars.jpg">
                    </div>
                    <div class="col-5 h-45">
                        <h2>Kiezelkaars</h2>
                        <p>Kaars van gecertificeerde palmolie uit Indonesië, in de vorm van een steen. De kaars brandt lang en schoon.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly pt-5">
                    <div class="col-5 h-45">
                        <h2 class="text-end">Kussens</h2>
                        <p class="text-end">natural is ontstaan na een reis naar India op zoek naar mooi papier om gedichten op te drukken. In Nederland bleek een markt voor de handgeschepte papierwaren te zijn en zo is het bedrijf in 1983 begonnen op kleine schaal te importeren. Inmiddels is het productassortiment enorm uitgebreid; van woonaccessoires tot klein meubelen en kerstdecoraties. Het bedrijf ziet toe op een eerlijke beloning voor de werknemers en goede arbeidsomstandigheden. Het uitgangspunt is dat de kinderen in India naar school gaan en dat er geen kinderuitbuiting plaats vindt in de fabrieken waar zij mee samenwerken. Zij maken geen gebruik van tussenpersonen maar werken rechtstreeks met de producenten van de producten. Er is veel aandacht voor een persoonlijk contact met de leveranciers</p>
                    </div>
                    <div class="col-5 h-45 imgBorder">
                        <img src="../../images/products/kussens.jpg">
                    </div>
                </div>
            </main>
            <%= require('html-loader!../../partials/footer.html').default %>
    </div>
</body>

</html>