<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wereldwinkel Nuenen Kopje Kinderproducten </title>
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <script src="../../main.js" defer></script>
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                    class="img-fluid d-none d-sm-none d-md-block" alt=""></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../../partials/menu.html').default %>
        </div>
        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                <h1 class="text-center p-5">Speelgoed</h1>
                <a class="p-1 btn" href="../producten">Terug</a>
                <div class="d-flex justify-content-md-center pt-5">
                    <div class="col-4 h-25 imgBorder">
                        <img src="../../images/products/HoutenSpeelgoed.jpg">
                    </div>
                    <div class="col-4 h-25 prodText">
                        <h2>Houten kinderspeelgoed en muziekinstrumenten</h2>
                        <p>de hand gemaakte houten speelgoed en muziekinstrumenten, duurzaam en natuurlijk.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-md-center pt-5">
                    
                    <div class="col-4 h-25 prodText">
                        <h2>Popkussens</h2>
                        <p>popkussens worden met de hand gemaakt in Nepal. De vrouwen kunnen hiermee in hun onderhoud voorzien.</p>
                    </div>
                    <div class="col-4 h-25 imgBorder">
                        <img src="../../images/products/kinderen.jpg">
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!../../partials/footer.html').default %>
    </div>
</body>

</html>