<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Tuin</title>
    <link rel="icon" type="image/x-icon" href="../../images/icon.png">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="Wereldwinkel Nuenen tuin accessoires">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Onze fairtrade  tuin accessoires.">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content=" Vind hier leuke fairtrade  tuin accessoires afkomstig van over de hele wereld.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../../partials/menu.html').default %>
        </div>
        <main>
            <div class="row main m-0 justify-content-md-center pt-5 pb-5">
                <div class="background"></div>
                <div class="content">
                    <h1 class="text-center p-5">Tuin</h1>
                    <a class="p-1 btn d-lg-none" href="../producten">Terug</a>
                    <div class="d-flex justify-content-md-center flex-wrap pt-5">
                        <div class="col-12 col-lg-4 h-25 imgBorder">
                            <img src="../../images/products/tuin.jpg" alt="Tuin accessoires gemaakt van afgedankt ijzer" title="Tuin accessoires gemaakt van afgedankt ijzer">
                        </div>
                        <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                            <h2>Bloemen voor in de tuin</h2>
                            <p>metaal komt van oud en afgedankt ijzer van o.a. wasmachines, auto’s, etc.. Het metaal
                                wordt ontdaan vaan roest en verfresten en omgevormd tot iets moois</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                        <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                            <h2>Eend</h2>
                            <p>metaal komt van oud en afgedankt ijzer van o.a. wasmachines, auto’s,
                                etc.. Het metaal wordt ontdaan vaan roest en verfresten en omgevormd tot iets moois.</p>
                        </div>
                        <div class="col-12 col-lg-4 h-25 imgBorder">
                            <img src="../../images/products/scrapmetaldieren.jpg"  alt="Dieren gemaakt van afgedankt ijzer" title="Dieren gemaakt van afgedankt ijzer">
                        </div>
                    </div>
                    <div class="d-flex justify-content-md-center flex-wrap pt-5">
                        <div class="col-12 col-lg-4 h-25 imgBorder">
                            <img src="../../images/products/metaalvogel.jpg" alt="Vogel gemaakt van serpentijn" title="Vogel gemaakt van serpentijn">
                        </div>
                        <div class="col-12 col-lg-4 pt-2 pt-lg-0 ps-lg-3 h-25 prodText">
                            <h2>Kip- metaal en steen</h2>
                            <p>De steen waarvan de meeste beelden zijn gemaakt is serpentijn; het is een harde
                                steensoort in verschillende kleurvariëteiten. Met de aankoop van een beeld van deze
                                kunstenaars helpt u hen een menswaardig bestaan op te bouwen. De zeepstenen vogels met
                                stoere ijzeren poten zijn vorstbestendig en kunnen buiten staan</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-md-center flex-wrap-reverse pt-5">
                        <div class="col-12 col-lg-4 pt-2 pt-lg-0 pe-lg-3 h-25 prodText">
                            <h2>Vogelhuisje – drijfhout</h2>
                            <p>vogelhuisje van Sakura Import is met de hand gemaakt van drijfhout wat
                                is gevonden op de prachtige stranden van Indonesië. Aan de punt van het dak is een grote
                                lus bevestigd waaraan het vogelhuisje kan worden opgehangen, maar het kan ook gewoon
                                neergezet worden. In het midden van het huisje ligt de bodem iets dieper, zodat er
                                genoeg vogelvoer in kan</p>
                        </div>
                        <div class="col-12 col-lg-4 h-25 imgBorder">
                            <img src="../../images/products/drijfhout.jpg" alt="Handgemaakt Vogelhuisje van Sakura drijfhout" title="Handgemaakt Vogelhuisje van Sakura drijfhout">
                        </div>
                    </div>
        </main>
        <%= require('html-loader!../../partials/footer.html').default %>
    </div>
</body>

</html>