body{
    background-image: url("../images/pexels-pixabay-273935.jpg");
    position: absolute;
    background-attachment: fixed;
    background-size:cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}