#header{
    background-image: url("../images/R.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
nav {
    background-color: $oran;
    border: none;
}
.nav-item {
    background-color: $oran;
    color: $dark !important;
    text-align: center;
    border: none;
    border-right: 1px $dark-red solid;
    border-left: 1px $dark-red solid;
    font-weight: bolder;
    

    &:last-child {
        border-right: 1px $oran solid;
    }
    &:first-child {
        border-left: 1px $oran solid;
    }
}
.nav-link{
    color: $dark;
    text-decoration: none;

    &.active, .active:first-child, .active:last-child
    {
        border: none;
        background-color: $footer !important; 
        border-left:1px $light solid;
        border-right:1px $light solid;
    }
}

.nav-item:hover, .nav-item:first-child:hover, .nav-item:last-child:hover
{
    border: none;
    background-color: $footer !important; 
    border-left:1px $light solid;
    border-right:1px $light solid;

}

.nav-item:hover > a{
    color: $light !important;
}

.dropdown-item, .mob-menu
{   
    background-color: $oran;
    color: $dark !important;
    text-align: center;
    border: none;
    border-top: 1px $dark-red solid;
    border-bottom: 1px $dark-red solid;
    
    &:first-child
    {
        border-left: none;
    }

    &:last-child {
        border-bottom: 1px $oran solid;
    }
}


.dropdown-item:hover, .mob-menu:hover, .mob-menu:hover:first-child, .mob-menu:hover:last-child, .active-nav-mob
{
    border: none;
    background-color: $footer !important; 
    border-bottom:1px $light solid;
    border-top:1px $light solid;
    color: $light !important;
}


.dropdown-menu{
    box-shadow: 5px 5px 20px gray;
}

.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .dropdown-menu{ 
        display: flex; 
    }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

.navbar-toggler
{
    width: 10%;
    height: 10%;
}

.hamburg
{
    width: 50%;
    height: 50%;
    fill: $main;
}