<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen over ons</title>
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="Over de Wereldwinkel Nuenen ">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Over de Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Kom meer te weten over de Wereldwinkel Nuenen">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="Kom meer te weten over de Wereldwinkel Nuenen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../partials/menu.html').default %>
        </div>



        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                
                
                
           
            <div class="TekstVrijwillger p-5" id="featured-1">
                <div class="row ">
                <div class="feature col-lg-6">
                    <h2  class="pb-5 text-success" >Over ons vrijwilligers</h2>
                    <p class="" >
                        In Wereldwinkel Nuenen werken 24 vrijwilligers waarvan 20 op de werkvloer en 4 achter de schermen (ICT, Winkelgroep, Website en Bestuur). 
                        Er vinden verschillende ondersteunende activiteiten plaats in de werkgroepen zoals de Inkoopgroep, Winkelgroep, Medewerkersgroep, PR en communicatie en Foodwerkgroep.
                    </p>
                </div>
            </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Doelstelling</h2>
                        <p class="" >
                            In Wereldwinkel Nuenen gaan commercie en idealen hand in hand. 
                            De Wereldwinkel verkoopt authentieke producten met een hedendaags tintje uit ontwikkelingslanden. 
                            De makers zijn bijvoorbeeld Mexicaanse koffieboeren, Balinese houtsnijders en Thaise keramisten. 
                            Sommigen hebben een eigen bedrijfje, anderen werken in kleine fabrieken. Allemaal mensen die, zoals iedereen, recht hebben op een woning, voedsel, scholing en medische zorg. 
                            In de gewone handel blijven zij vaak onzichtbaar en ongehoord en verdienen ze met hun werk een ongeregeld inkomen waar ze met moeite van kunnen bestaan. 
                            De wereldwinkels geven hen de mogelijkheid een geregelder en bestaan zeker inkomen te verwerven.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Wat wil de Wereldwinkel</h2>
                        <p class="" >
                            Eerlijke handel staat voor een gelijkwaardige manier van handelen. Gebaseerd op dialoog, transparantie en respect. 
                            De Wereldwinkel geeft de koffieboeren, houtsnijders en keramisten een stem. 
                            Met het inkomen dat zij verdienen door de verkoop van hun producten, kunnen zij een beter leven opbouwen. 
                            Een leven zonder armoede en met voldoende kansen op ontwikkeling. 
                            De Wereldwinkels vinden dat de wereldhandel moet veranderen zodat producenten die kans ook echt kunnen krijgen. 
                            Met de verkoop van producten laten zij zien dat handel ook anders kan. En bieden zij de Nederlandse consument een keuze.
                             Koop je een cadeau in de Wereldwinkel, dan draag je bij aan de ontwikkeling van de makers
                        </p>
                    </div>
                </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Verkoopfilosofie</h2>
                        <p class="" >
                            De Wereldwinkel verkoopt originele cadeaus en (h)eerlijke levensmiddelen uit andere culturen. 
                            Onze producten zijn gemaakt met respect voor mens en milieu. Omdat de producenten - zoals zilversmeden, 
                            pottenbakkers en koffieboeren - er een rechtvaardige prijs voor krijgen, kunnen ze een menswaardig bestaan opbouwen. Met uw aankoop helpt u hen daarbij
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Oorsprong</h2>
                        <p class="" >
                            Op de UNCTAD conferentie in New Delhi, 1968, vroegen de derde wereldlanden om hun producten een vrijere toegang te geven tot de Westerse markt. 
                            Ze kregen nul op het rekest. De journalist Dirk Scherpenzeel riep na afloop op om ‘Derde Wereldwinkels’ te beginnen om toch iets te doen.
                            Op 1 april 1969 opende de eerste Wereldwinkel in Breukelen. 
                            Het doel was de wereldhandel te veranderen door de afzet van producenten in de derde wereld te vergroten, voorlichting aan het publiek te geven en politieke campagnes te voeren. 
                            Er kwamen meer Wereldwinkels en de Landelijke Vereniging van Wereldwinkels werd opgericht (deze is per 01-01-2020 opgeheven). 
                             In de jaren ’70 voerden de winkels veel actie. Van ‘Suriname vrij nu’ naast de boycotcampagne van Angolakoffie. Het eigenlijke werk, het verkopen van producten, had nauwelijks aandacht. 
                             In de jaren ’80 professionaliseerde de verkoop. Nu werken Wereldwinkels met een winkelconcept zoals dat in de Retail gebruikelijk is
                        </p>
                    </div>
                </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row ">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Actueel beleidsplan</h2>
                        <p class="" >
                            Wereldwinkel Nuenen bestrijdt armoede door eerlijke handel. Ze biedt producenten uit arme gebieden in de wereld een afzetmarkt, zodat zij onder goede omstandigheden kunnen werken en kunnen investeren in de toekomst van hun bedrijf en hun familie.
                            Activiteiten
                             Wereldwinkel Nuenen vergroot de kansen voor producenten, door fairtrade in Nederland te laten groeien, via de eigen winkel en daarbuiten. Ze onderneemt daarvoor de volgende activiteiten:
                        </p>           
                        <ul >
                                 <li class="pb-3">
                                        Verkoop en promotie van fairtrade producten
                                 </li>
                                 <li class="pb-3">
                                    Het bevorderen van fairtrade buiten de Wereldwinkel, d.m.v. acties en campagnes
                                </li>
                                <li class="pb-3">
                                    Wereldwinkel Nuenen geeft Nuenense organisaties de kans om producten vanuit landen in ontwikkeling te verkopen in de winkel
                                </li>
                                <li>
                                    Een gedeelte van de gemaakte winst (na aftrek van vaste lasten) wordt door Wereldwinkel Nuenen geschonken aan projecten van Nuenenaren in landen in ontwikkeling 
                                </li>
                             </ul>
                    </div>
                </div>
                <div class="row  ">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Het bestuur</h2>
                        
                        <ul class="mensenFunctie" >
                            <li ><span class=" text-success" style="font-weight: 700;">Voorzitter</span>
                                <ul>
                                    <li  class=" p-3 pt-2 pb-2">
                                        Suzanne van Buchem
                                    </li>
                                </ul>
                            </li>
                            <li class=" text-success"><span style="font-weight: 700;">Penningmeester</span>
                                <ul  >
                                    <li  class="text-dark p-3 pt-2 pb-2">
                                        Ton Verbruggen
                                    </li>
                                </ul>
                            </li>
                            <li class=" text-success" ><span style="font-weight: 700;">Bestuurslid</span>
                                <ul >
                                    <li class=" p-3 pt-2 pb-2 text-dark">
                                        Jetty Brouwer
                                    </li>
                                    <li  class="text-dark p-3 pt-2 pb-2">
                                        Rita van Vegchel
                                    </li>
                                    <li class="text-dark p-3 pt-2 pb-2">
                                        Ine van Lamoen
                                    </li>
                                    <li  class="text-dark p-3 pt-2 pb-2">
                                        Jacq. van Meegen
                                    </li>
                                    <li  class="text-dark p-3 pt-2 pb-2">
                                        Hennie Leijsten
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    
                    </div>
                </div>
            </div>
                </div>
            </div>
            <%= require('html-loader!../partials/footer.html').default %>
    </div>
</body>

</html>