<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Privacy</title>
    <script src="../main.js" defer></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="de Stichting Wereldwinkel Nuenen">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Privacy regelgeving van de winkel">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="Onze privacy regelingen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                    class="img-fluid d-none d-sm-none d-md-block" alt=""></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../partials/menu.html').default %>
        </div>
   



        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                
                
                
            <div style="z-index: 1;"class="TekstVrijwillger" id="featured-1">
                <div class="row ">
                <div class="feature col-lg-6 col ">
                    <h2  class="pb-5 text-success" >Uitgangspunt</h2>
                    <p class="" >
                        Het bestuur van de Stichting Wereldwinkel Nuenen baseert haar onderstaand privacy beleid
                        op wettelijke regels en uitgangspunten, zoals beschreven in Algemene Verordening
                        Gegevensbescherming (AVG).

                    </p>
                </div>
            </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row">
                    <div class="feature col-lg-6 col   ">
                        <h2  class="pb-5 text-success" >Doel registratie persoonsgegevens</h2>
                        <p class="" >
                            De Stichting registreert persoonsgegevens van:
                            vrijwilligers die zijn verbonden aan de stichting
                            <ul>
                                <li>
                                    leveranciers van de stichting
                                </li>
                                <li>
                                    relaties van de stichting
                                </li>
                                <li>
                                    klanten van de stichting
                                </li>
                            </ul>
                            De stichting registreert van bovenstaande personen uitsluitend die persoonsgegevens die van belang zijn om de doelstellingen van de stichting te kunnen realiseren
                            
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-lg-6 col   ">
                        <h2  class="pb-5 text-success" >Verantwoordelijk voor de bescherming van persoonsgegevens:</h2>
                        <p class="" >
                            Het bestuur van de stichting is verantwoordelijk voor de bescherming van de
                            persoonsgegevens. Welke gegevens worden in het bestand opgenomen?
                            Van bovengenoemde personen worden onderstaande gegevens geregistreerd:
                            <ul>
                                <li>
                                    naam
                                </li>
                                <li>
                                    adres, postcode en huisnummer
                                </li>
                                <li>
                                    e-mail adres
                                </li>
                                <li>
                                    telefoonnummer
                                </li>
                            </ul>
                            Daarnaast worden ook bankrekeningnummers geregistreerd als vrijwilligers onkosten declareren, er op rekening wordt gekocht en als het leveranciers betreft. 
                            Bestanden van personen worden digitaal geregistreerd. Vrijwilligersovereenkomsten en gespreksverslagen worden bewaard bij het secretariaat/medewerker “personeelsbeleid”. In de winkel ligt een lijst met namen, adressen, telefoonnummers, geboortedatum en emailadres, van de vrijwilligers.
                            E-mailadressen worden bewaard via het extranet van de LVWW en zijn beveiligd met een wachtwoord. Dit wordt enkel verstrekt aan bestuursleden, vrijwilligers van
                            de winkelgroep, leden van de inkoopgroep en de systeembeheerder.
                            De stichting bewaart geen bijzondere persoonsgegevens van geregistreerde personen
                            
                        </p>
                    </div>
                </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row">
                    <div class="feature col-lg-6 col   ">
                        <h2  class="pb-5 text-success" >Informatie over persoonsgegevens aan belanghebbenden</h2>
                        <p class="" >
                            Nieuw vrijwilligers, leveranciers en relaties, worden bij aanmelding geïnformeerd over het privacybeleid van de stichting,
                            En verwezen naar de website voor de inhoud van het beleid. 
                            Daarnaast geven zij bij aanmelding schriftelijk toestemming voor het beheer van hun persoonsgegevens door de stichting. 
                            Geregistreerde personen kunnen hun gegevens te allen tijde opvragen bij het secretariaat van de stichting.

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-lg-6 col   ">
                        <h2  class="pb-5 text-success" >Beheer van de gegevens</h2>
                        <p class="test" >
                            Het dagelijkse beheer en verwerking van persoonsgegevens is neergelegd bij het secretariaat. 
                            Er zijn door het stichtingsbestuur geen afspraken gemaakt met externe partijen over het verwerken van persoonsgegevens.
                            Er is daarom geen verwerkersovereenkomst.
                        </p>
                    </div>
                </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row">
                    <div class="feature col-lg-6 col   ">
                        <h2  class="pb-5 text-success" >Vragen en klachten</h2>
                        <p class="test" >
                            Voor vragen en/of klachten over de registratie, de verwerking van persoonsgegevens of eventuele datalekken, 
                            kan door elke belanghebbende contact worden opgenomen met de voorzitter van het bestuur. 
                            Het bestuur zal desgevraagd met de klager/vrager in gesprek gaan om te komen tot bevredigende antwoorden of oplossingen voor de klachten.
                        </p>
                    </div>
                </div>
                    </div>
                </div>
             
            </div>
            <%= require('html-loader!../partials/footer.html').default %>
    </div>
</body>

</html>