<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Producten</title>
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <script src="../main.js" defer></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content=" Wereldwinkel Nuenen Producten">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Producten van de Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Producten Wereldwinkel Nuenen">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="Neem een kijk bij onze producten,Misschien vind je hier wel een leuk cadeau idee.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../partials/menu.html').default %>
        </div>
        <main class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <section class="content pb-5">
                <div class="row flex-row text-center">
                        <div class="col-6 col-sm-4 flex-fill prodimg">
                            <a href="./producten/food" class="text-decoration-none">
                                <img src="../images/products/food.jpg" class="" alt="Food">
                                <div class="imgText">Food</div>
                            </a>
                        </div>
                        <div class="col-6 col-sm-4 flex-fill prodimg">
                            <a href="./producten/interieur" class="text-decoration-none">
                                <img src="../images/products/Interieur.jpg" class="" alt="Interieur">
                                <div class="imgText">Interieur</div>
                            </a>
                        </div>
                        <div class="col-6 col-sm-4 flex-fill prodimg">
                            <a href="./producten/wierook" class="text-decoration-none">
                                <img src="../images/products/wierook.jpg" class="" alt="Wierook">
                                <div class="imgText">Wierook</div>
                            </a>
                        </div>
                        <div class="col-6 col-sm-4 flex-fill prodimg">
                        <a href="./producten/kunst" class="text-decoration-none">
                            <img src="../images/products/kunst.jpg" class="" alt="Kunst">
                            <div class="imgText">Kunst</div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 flex-fill prodimg">
                    <a href="./producten/tuin" class="text-decoration-none">
                            <img src="../images/products/tuin.jpg" class="" alt="Tuin">
                            <div class="imgText">Tuin</div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 flex-fill prodimg">
                    <a href="./producten/mand" class="text-decoration-none">
                            <img src="../images/products/tasMand.jpg" class="" alt="Tassen/Manden">
                            <div class="imgText">Tassen & Manden</div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 flex-fill prodimg">
                        <a href="./producten/sieraden-sjaals" class="text-decoration-none">
                            <img src="../images/products/sieraadSjaal.jpg" class="" alt="Sieraden/Sjaals">
                            <div class="imgText">Sieraden & Sjaals</div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 flex-fill prodimg">
                        <a href="./producten/kind-product" class="text-decoration-none">
                            <img src="../images/products/kinderen.jpg" class="" alt="Kinderen">
                            <div class="imgText">Speelgoed</div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 flex-fill prodimg">
                        <a href="./producten/geluk" class="text-decoration-none">
                            <img src="../images/products/geluk.jpg" class="" alt="Geluk">
                            <div class="imgText">Geluk</div>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <%= require('html-loader!../partials/footer.html').default %>
    </div>
</body>

</html>