<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Projecten</title>
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content=" Wereldwinkel Nuenen Projecten">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Projecten van de Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="De projecten van de Wereld Winkel Nuenen. Kom kijken waar wij mee bezig zijn">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="De projecten van de Wereld Winkel Nuenen. Kom kijken waar wij mee bezig zijn.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../partials/menu.html').default %>
        </div>
        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="content">
            <div class="tekstVrijwillger p-5" id="featured-1">
                <div class="row ">
                <div class="feature col-lg-6">
                    <h2  class="pb-5 text-success" >Days for girls</h2>
                    <p class="" >
                        Days for girls is een internationale non-profitorganisatie die duurzame menstruele gezondheidsoplossingen voorbereidt en distribueert in o.a. Kenia. 
                        De meeste meisjes en vrouwen beschikken niet over maandverband waardoor ze tijdens hun maandelijks menstruatie niet naar school of werk kunnen.
                        Days for girls organiseert voorlichtingsbijeenkomsten om menstruatie uit de taboesfeer te halen.
                         Daarnaast voorzien ze in DfG kits met daarin o.a. herbruikbaar maandverband, zee pen ondergoed.
                        Wij ondersteunen Days for Girls door de verkoop van verschillende soorten handgemaakt keukentextiel, zoals ovenwanten, placemats en toilettasjes.
                        De opbrengst van de verkoop komt volledig ten goede aan Days for girls.

                    </p>
                </div>
            </div>
                <div class="justify-content-end justify-content-lg-end justify-content-sm-start row">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Sieraden voor Namibië</h2>
                        <p class="" >
                            Connected to Namibia foundation (CTN) heeft als belangrijkste projecten:
                            Onderwijs als sleutel tot ontwikkeling van mensen:
                        </p>                            
                        <ul>
                                <li class="pb-3" >
                                    Watervoorziening op zonne-energie want water is nodig voor een gezond leven 
                                </li>
                                <li class="pb-3" >
                                    Speciale trainingen en workshops voor volwassenen, waarbij vrouwen een belangrijke rol spelen. 
                                    Zij maken o.a. sieraden en mondkapjes die men kan verkopen om zo inkomsten te verwerven. 
                                </li>
                                <li class="pb-3" >
                                    Als Wereldwinkel ondersteunen wij de CTN met het verkopen van hun sieraden.<br>
                                    De opbrengst komt volledig ten goede van de foundation.
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="feature col-lg-6">
                        <h2  class="pb-5 text-success" >Manden uit Ghana</h2>
                        <p class="" >
                            Sirigu Indigenous Traditional Real Art (SITRA) is een instelling die is ontstaan uit Sirigu Women Organisation for Pottery and Art (SWOPA).
                            SITRA is een op de lokale gemeenschap gebaseerde organisatie die is opgezet om:
                        </p>
                        <ul>
                                <li>
                                    inkomsten te genereren voor de vrouwen van Sirigu, dit door aardewerk en ambachtelijke werken te produceren.
                                </li>
                                <li>
                                    bevordering van de cultuur-, kunst-, aardewerk- en ambachtswerken van de gemeenschap en de gemeenschappen rond Sirigu.
                             
                                </li>
                        </ul> 
                        <p class="" >
                                De doelstellingen van het SITRA project omvatten het volgende:
                        </p>                           
                         <ol>
                                <li>
                                    De vrouwen te helpen inkomsten te genereren voor hun gezin.
                                </li>
                                <li>
                                    Het verbeteren van de leefomstandigheden van de mensen in het gebied
                                </li>
                                <li>
                                    Het opbouwen van een financiële basis van de individuele deelnemer voor duurzame productie
                                </li>
                                <li>
                                    Om verstedelijking te verminderen; jonge mensen die naar Accra of naar het buitenland gaan om een beter leven te hebben, 
                                    maar teleurgesteld raken of een nog slechter leven leiden.
                                </li>
                                <li>
                                    Om de kennis van kunst, aardewerk en weven voor de gemeenschap te behouden.
                                </li>
                                <li>
                                    Een nieuwe en moderne manieren van kunst en ambachten te stimuleren
                                </li>
                            </ol>
                    </div>
                </div>
            </div>
                </div>
            </div>
            <%= require('html-loader!../partials/footer.html').default %>
    </div>
</body>

</html>