<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen Werkenbij</title>
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <script src="../main.js" defer></script>
    <meta name="language" content="Dutch">
    <meta property="og:title" content=" Wereldwinkel Nuenen">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="Kom jij ook werken bij de Wereld Winkel Nuenen?">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="Kom jij ook werken bij de Wereld Winkel Nuenen?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                class="img-fluid d-none d-sm-none d-md-block" alt="Wereldkaart in een popart style" title="Wereldmap header "rel="nofollow"></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../partials/menu.html').default %>
        </div>




        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                
                
                
       
            <section class="content">
                <div class="TekstVrijwillger" id="featured-1">
                    <div class="row ">
                        <div class="feature col-sm-6 col ">
                            <h2 class="pb-5">Meld je aan als vrijwilliger</h2>
                            <p class="text-dark">
                                Onze vrijwilligers vormen de kern achter het succes van de Wereldwinkel Nuenen.
                                Elke taak, van het inkopen tot het draaien van winkeldiensten, wordt gedaan door één van
                                onze vrijwilligers.<br>
                                We zijn altijd op zoek naar nieuwe collega’s!
                                Lijkt het je leuk om te werken in één van de oudste Wereldwinkels van Nederland?
                                En ben je benieuwd hoe je bij kan dragen? Meld je dan aan via onderstaand
                                antwoordformulier!
                            </p>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-end">
                    <form class="d-flex   flex-column col-sm-6 col " action="#" method="#" id="sollicitatie">
                        <h2 class="d-block">Open Solicitatie Formulier</h2>
                        <label class="mt-4 h3" for="naam">Naam</label>
                        <input class="mt-4 rounded-3 border border-main border-4 p-3" type="text" id="naam" name="naam">
                        <label class="mt-4 h3" for="email">E-Mail</label>
                        <input class="mt-4 rounded-3 border border-main border-4 p-3" type="email" id="email"
                            name="email">
                        <label class="mt-4 h3" for="Motivatie">Motivatie</label>
                        <textarea class="mt-4 rounded-3  border border-main border-4 p-3" form="sollicitatie" rows="8"
                            id="Motivatie" name="Motivatie"></textarea>
                        <input class="mt-4 rounded-3 p-3  border border-main  border-4 bg-transparent h3 p-3 "
                            type="submit" value="Versturen">
                    </form>
                </div>
                </div>
            </div>
            </section>
            <%= require('html-loader!../partials/footer.html').default %>
    </div>
</body>

</html>