<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wereldwinkel Nuenen Werkenbij</title>
    <script src="../main.js" defer></script>
    
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="../images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                    class="img-fluid d-none d-sm-none d-md-block" alt=""></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!../partials/menu.html').default %>
        </div>




        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                
                
                
       
            <section class="content">
                <div class="TekstVrijwillger" id="featured-1">
                    <div class="row ">
                        <div class="feature col-sm-6 col ">
                            <h2 class="pb-5">Meld je aan als vrijwilliger</h2>
                            <p class="text-dark">
                                Onze vrijwilligers vormen de kern achter het succes van de Wereldwinkel Nuenen.
                                Elke taak, van het inkopen tot het draaien van winkeldiensten, wordt gedaan door één van
                                onze vrijwilligers.<br>
                                We zijn altijd op zoek naar nieuwe collega’s!
                                Lijkt het je leuk om te werken in één van de oudste Wereldwinkels van Nederland?
                                En ben je benieuwd hoe je bij kan dragen? Meld je dan aan via onderstaand
                                antwoordformulier!
                            </p>
                        </div>

                    </div>
                </div>
                <div class="row justify-content-end">
                    <form class="d-flex   flex-column col-sm-6 col " action="#" method="#" id="sollicitatie">
                        <h2 class="d-block">Open Solicitatie Formulier</h2>
                        <label class="mt-4 h3" for="naam">Naam</label>
                        <input class="mt-4 rounded-3 border border-main border-4 p-3" type="text" id="naam" name="naam">
                        <label class="mt-4 h3" for="email">E-Mail</label>
                        <input class="mt-4 rounded-3 border border-main border-4 p-3" type="email" id="email"
                            name="email">
                        <label class="mt-4 h3" for="Motivatie">Motivatie</label>
                        <textarea class="mt-4 rounded-3  border border-main border-4 p-3" form="sollicitatie" rows="8"
                            id="Motivatie" name="Motivatie"></textarea>
                        <input class="mt-4 rounded-3 p-3  border border-main  border-4 bg-transparent h3 p-3 "
                            type="submit" value="Versturen">
                    </form>
                </div>
                </div>
            </div>
            </section>
        <footer class="row m-0 p-1 p-sm-3 p-md-5 flex-fill flex-row flex-wrap" id="foot">
            <div class="col-6 col-lg-3 text-left text-wrap">
                <img src="../images/footer2.png" alt="">
                <p class="text-wrap">Eerlijke handel staat voor een <br> gelijkwaardige manier van handelen</p>
                <hr>
                <p class="">040-2839195</p>
                <p class="">wereldwinkelnuenen@gmail.com</p>
                <p class="">Berg 28B, 5671 CC, Nuenen</p>
                <p class=""><a href=""
                        class="link-light text-decoration-none text-sm-start ">facebook.com/wereldwinkelnuenen</a></p>
                <p class=""><a href=""
                        class="link-light text-decoration-none text-sm-start ">instagram.com/wereldwinkelnuenen</a></p>
            </div>
            <div class="col-6 col-lg-3 text-left pt-5 text-wrap">
                <h5 class="pb-3">Openingstijden:</h5>
                <ul class="list-group list-group-flush">
                    <li class="lh-lg">Maandag:</li>
                    <li class="lh-lg">Dinsdag:</li>
                    <li class="lh-lg">Woensdag:</li>
                    <li class="lh-lg">Donderdag:</li>
                    <li class="lh-lg">Vrijdag:</li>
                    <li class="lh-lg">Zaterdag:</li>
                    <li class="lh-lg">Zondag:</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="lh-lg">13:30-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">Gesloten</li>
                </ul>
            </div>
            <%= require('html-loader!../partials/footer.html').default %>
    </div>
</body>

</html>