<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereldwinkel Nuenen</title>
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <meta name="language" content="Dutch">
    <meta property="og:title" content="de Stichting Wereldwinkel Nuenen">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="./images/footer2.png" >
    <meta property="og:description" content="De Fairtrade cadeauwinkel in Nuenen">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="De Fairtrade cadeauwinkel in Nuenen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v13.0"
        nonce="THQywiZ0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="images/Black_on_orange_dotted_world_map_vector2.jpg"
                    class="img-fluid d-none d-sm-none d-md-block" alt=""></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!./partials/menu.html').default %>
        </div>
        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            
            <div class="content">
                <div class="row m-md-5 mb-5">
                    <div class=" col-md-7">
                        <h1>Welkom bij Wereldwinkel Nuenen, de fairtrade cadeauwinkel</h1>
                        <h2>Duurzame cadeau artikelen</h2>
                    </div>
                </div>
                <div class="row m-md-5 mb-5">
                    <div class="col-8 col-md-4">
                        <p>Wij zetten ons altijd in voor eerlijke geschenken:
                            Cadeaus waarmee je projecten in andere landen steunt.
                        </p>
                    </div>
                </div>
                <div class="row m-md-5 mb-5">
                    <div class="col-md-5">
                        <h5>
                        <a class="p-1 btn" href="./producten"> Bekijk onze producten</a>
                    </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4 flex-fill">
                        <div id="carouselExampleIndicators" class="carousel slide col-12" data-bs-ride="carousel">
                            <div class="carousel-indicators ">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active d-none d-sm-none d-md-block" aria-current="true"
                                    aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2" class="d-none d-sm-none d-md-block"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3" class="d-none d-sm-none d-md-block"></button>
                            </div>
                            <div class="carousel-inner d-flex flex-fill">
                                <div class="carousel-item active" data-bs-interval="20000">
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/gelukpopptjes (1).jpg" class="img-fluid car-image" alt="...">
                                        </div>
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/family.jpg" class="img-fluid car-image" alt="...">
                                        </div>
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/lotusbloem.jpg" class="img-fluid car-image" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="20000">
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/MexicoAardewerk.jpg"
                                                class="car-image img-fluid" alt="..."></div>
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/Popkussens.jpg"
                                                class="car-image img-fluid" alt="..."></div>
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/tassenindia.jpg"
                                                class="car-image img-fluid" alt="..."></div>

                                    </div>
                                </div>
                                <div class="carousel-item " data-bs-interval="20000">
                                    <div class="row justify-content-center">
                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/stenenbloem.jpg"
                                                class="img-fluid car-image" alt="..."></div>

                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/sieraadSjaal.jpg"
                                                class="img-fluid car-image" alt="..."></div>

                                        <div class="col-4 col-md-3 car-cont p-1"><img src="images/products/wierook.jpg"
                                                class="img-fluid car-image" alt="..."></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-none d-sm-none d-md-block">
                                <button class="carousel-control-prev d-none d-sm-none d-md-block" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next d-none d-sm-none d-md-block" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center m-md-5">
                    <div id="facebook" class="col col-md-8  metaFB d-flex flex-row">
                        <div class=" col col-md-4 m-2">
                            <img src="images/products/schaal.jpg" class="img-fluid opacity-100" alt="">
                        </div>
                        <div class="col col-md-4 m-2 text-center">
                            <blockquote>Ga naar onze facebook voor het laatste nieuws</blockquote>
                        </div>
                    </div>
                </div>
           

            </div>
        </div>
        <%= require('html-loader!./partials/footer.html').default %>
    </div>
</body>

</html>