<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wereld winkel Nuenen</title>
    <meta name="language" content="Dutch">
    <meta property="og:title" content="de Stichting Wereldwinkel Nuenen">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Wereldwinkel Nuenen">
    <meta property="og:image" content="../images/footer2.png" >
    <meta property="og:description" content="De Fairtrade cadeauwinkel in Nuenen">
    <meta name="robots" content="index,nofollow">
    <link rel='canonical' href="">
    <meta name="description" content="De Fairtrade cadeauwinkel in Nuenen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/93f2f9cae7.js" crossorigin="anonymous"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v13.0"
        nonce="THQywiZ0"></script>
</head>

<body>
    <div class="container bg-light p-0 mb-5">
        <div class="row">
            <header class="col-bg-secondary"><img src="images/Black_on_orange_dotted_world_map_vector2,1.jpg"
                    class="img-fluid d-none d-sm-none d-md-block" alt=""></header>
        </div>
        <div class="row m-0 sticky-top">
            <%= require('html-loader!./partials/menu.html').default %>
        </div>
        <div class="row main m-0 justify-content-md-center pt-5 pb-5">
            <div class="background"></div>
            <div class="content">
                <div class="row m-5">
                    <div class="col-12 col-md-7">
                        <h1>Welkom bij Wereldwinkel Nuenen, de fairtrade cadeauwinkel</h1>
                        <h2>Duurzame cadeau artikelen</h2>
                    </div>
                </div>
                <div class="row m-5">
                    <div class="col-8 col-md-4">
                        <p>Wij zetten ons altijd in voor eerlijke geschenken:
                            Cadeau's waarmee je projecten in andere landen steunt.
                        </p>
                    </div>
                </div>
                <div class="row m-5">
                    <div class="col-4">
                        <h5>
                        <a id="toProducts" class="p-1" href="./producten"> Bekijk onze producten</a>
                    </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="carouselExampleIndicators" class="carousel slide col-12" data-bs-ride="carousel">
                            <div class="carousel-indicators ">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active d-none d-sm-none d-md-block" aria-current="true"
                                    aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2" class="d-none d-sm-none d-md-block"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3" class="d-none d-sm-none d-md-block"></button>
                            </div>
                            <div class="carousel-inner d-flex flex-fill">
                                <div class="carousel-item active" data-bs-interval="20000">
                                    <div class="row justify-content-center">
                                        <div class="col-4"><img src="images/255232.jpg" class="img-fluid" alt="...">
                                        </div>
                                        <div class="col-4"><img src="images/255232.jpg" class="img-fluid" alt="...">
                                        </div>
                                        <div class="col-4"><img src="images/255232.jpg" class="img-fluid" alt="...">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="20000">
                                    <div class="row justify-content-center">
                                        <div class="col-4"><img src="images/Black_on_orange_dotted_world_map_vector.jpg"
                                                class="img-fluid" alt="..."></div>
                                        <div class="col-4"><img src="images/Black_on_orange_dotted_world_map_vector.jpg"
                                                class="img-fluid" alt="..."></div>
                                        <div class="col-4"><img src="images/Black_on_orange_dotted_world_map_vector.jpg"
                                                class="img-fluid" alt="..."></div>

                                    </div>
                                </div>
                                <div class="carousel-item " data-bs-interval="20000">
                                    <div class="row justify-content-center">
                                        <div class="col-4"><img src="images/joe-mcdaniel-yLympaD0S4I-unsplash.jpg"
                                                class="img-fluid " alt="..."></div>

                                        <div class="col-4"><img src="images/joe-mcdaniel-yLympaD0S4I-unsplash.jpg"
                                                class="img-fluid " alt="..."></div>

                                        <div class="col-4"><img src="images/joe-mcdaniel-yLympaD0S4I-unsplash.jpg"
                                                class="img-fluid " alt="..."></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-none d-sm-none d-md-block">
                                <button class="carousel-control-prev d-none d-sm-none d-md-block" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next d-none d-sm-none d-md-block" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center m-5">
                    <div class="fb-post"
                        data-href="https://www.facebook.com/photo/?fbid=482448080243222&set=a.249249310229768"
                        data-width="500" data-show-text="true"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/wereldwinkelnuenen" data-tabs="timeline"
                        data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true"
                        data-hide-cover="true" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/wereldwinkelnuenen" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/wereldwinkelnuenen">Wereldwinkel Nuenen</a>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
        <%= require('html-loader!./partials/footer.html').default %>
    </div>
</body>

</html>