<footer class="row m-0 p-1 p-sm-3 p-md-5 flex-fill flex-row flex-wrap" id="foot">
            <div class="col-6 col-lg-3 text-left text-wrap">
                <img src="../images/footer2.png" alt="Bedrijfslogo de Stichting Wereldwinkel Nuenen" title="Bedrijfslogo de Stichting Wereldwinkel Nuenen">
                <p class="text-wrap">Eerlijke handel staat voor een <br> gelijkwaardige manier van handelen</p>
                <hr>
                <p class=""><i class="fa-solid fa-phone"></i> 040-2839195</p>
                <p class=""><i class="fa-solid fa-envelope"></i> wereldwinkelnuenen@gmail.com</p>
                <p class=""><i class="fa-solid fa-location-dot"></i> Berg 28B, 5671 CC, Nuenen</p>
                <p class=""><a href="https://facebook.com/wereldwinkelnuenen" target="_blank" class="link-light text-decoration-none text-sm-start "><i class="fa-brands fa-facebook"></i> facebook.com/wereldwinkelnuenen</a></p>
                <p class=""><a href="https://instagram.com/wereldwinkelnuenen" target="_blank" class="link-light text-decoration-none text-sm-start "><i class="fa-brands fa-instagram"></i> instagram.com/wereldwinkelnuenen</a></p>
            </div>
            <div class="col-6 col-lg-3 text-left pt-5 text-wrap">
                <h5 class="pb-3">Openingstijden:</h5>
                <ul class="list-group list-group-flush">
                    <li class="lh-lg">Maandag:</li>
                    <li class="lh-lg">Dinsdag:</li>
                    <li class="lh-lg">Woensdag:</li>
                    <li class="lh-lg">Donderdag:</li>
                    <li class="lh-lg">Vrijdag:</li>
                    <li class="lh-lg">Zaterdag:</li>
                    <li class="lh-lg">Zondag:</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="lh-lg">13:30-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">10:00-17:00</li>
                    <li class="lh-lg">Gesloten</li>
                </ul>
            </div>
            <div class="col-6 col-md-3 text-left pt-5 text-wrap">
                <h5 class="pb-3">De Wereldwinkel</h5>
                <ul class="list-group list-group-flush">
                    <li><a href="/over-ons" target="_self" class="link-light text-decoration-none text-sm-start lh-lg">Over ons</a></li>
                    <li><a href="/privacy" target="_self" class="link-light text-decoration-none text-sm-start lh-lg">Privacy</a></li>
                    <li><a href="/fairtrade" target="_self" class="link-light text-decoration-none text-sm-start lh-lg">Fairtrade</a></li>
                    <li><a href="/werken-bij" target="_self" class="link-light text-decoration-none text-sm-start lh-lg">Werken bij</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 text-left pt-5 text-wrap">
                <h5 class="pb-3">Onze producten</h5>
                <ul class="list-group list-group-flush">
                    <li class="lh-lg"><a href="/producten/food" class="link-light text-decoration-none">Food</a></li>
                    <li class="lh-lg"><a href="/producten/interieur" class="link-light text-decoration-none">Interieur</a></li>
                    <li class="lh-lg"><a href="/producten/wierook" class="link-light text-decoration-none">Wierook</a></li>
                    <li class="lh-lg"><a href="/producten/kunst" class="link-light text-decoration-none">Kunst</a></li>
                    <li class="lh-lg"><a href="/producten/tuin" class="link-light text-decoration-none">Tuin</a></li>
                    <li class="lh-lg"><a href="/producten/mand" class="link-light text-decoration-none">Tassen en manden</a></li>
                    <li class="lh-lg"><a href="/producten/sieraden-sjaals" class="link-light text-decoration-none">Sieraden en Sjaals</a></li>
                    <li class="lh-lg"><a href="/producten/kind-product" class="link-light text-decoration-none">Speelgoed</a></li>
                    <li class="lh-lg"><a href="/producten/geluk" class="link-light text-decoration-none">Geluk</a></li>
                </ul>
            </div>
        </footer>