<nav class="navbar navbar-expand-lg navbar-light m-0 p-0 border-top border-3 border-dark d-none d-sm-none d-md-block">
    <div class="container-fluid d-flex justify-content-evenly flex-row m-0 p-0">
        <div class="collapse navbar-collapse flex-fill" id="main_nav">
            <ul class="navbar-nav flex-fill">
                <li class="nav-item flex-fill active-nav"> <a class="nav-link p-3" href="index.html">Home</a> </li>
                <li class="nav-item dropdown flex-fill">
                    <a class="nav-link p-3" href="pages/products.html">Producten</a>
                    <ul class="dropdown-menu flex-column text-center col-12 pt-0 pb-0">
                        <li><a class="dropdown-item" href="pages/producten/food.html">Food</a></li>
                        <li><a class="dropdown-item" href="pages/producten/Interieur.html">Interieur</a></li>
                        <li><a class="dropdown-item" href="pages/producten/wierook.html">Wierook</a></li>
                        <li><a class="dropdown-item" href="pages/producten/kunst.html">Kunst</a></li>
                        <li><a class="dropdown-item" href="pages/producten/Tuin.html">Tuin</a></li>
                        <li><a class="dropdown-item" href="pages/producten/Mand.html">Tassen & manden</a></li>
                        <li><a class="dropdown-item" href="pages/producten/Sieradensjaals.html">Sieraden & sjaals</a></li>
                        <li><a class="dropdown-item" href="pages/producten/KindProduct.html">Speelgoed</a></li>
                        <li><a class="dropdown-item" href="pages/producten/Geluk.html">Geluk</a></li>
                    </ul>
                </li>
                <li class="nav-item flex-fill "><a class="nav-link p-3" href="pages/over-ons.html">Over Ons</a></li>
                <li class="nav-item flex-fill"><a class="nav-link p-3" href="pages/Projecten.html">Projecten</a>
                </li>
                <li class="nav-item flex-fill "><a class="nav-link p-3" href="pages/faq.html">Veelgestelde vragen</a></li>
                <li class="nav-item flex-fill"><a class="nav-link p-3" href="pages/werken-bij.html">Werken Bij</a></li>
                <li class="nav-item flex-fill"><a class="nav-link p-3" href="pages/Contact.html">Contact</a></li>
            </ul>
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>
<nav class="navbar navbar-dark bg-dark d-block  d-lg-none">
    <div class="container-fluid justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse navbar-nav flex-column justify-content-evenly w-100 m-0 p-0"
    id="navbarToggleExternalContent">
    <a class="nav-link active-nav text-center p-3 flex-fill d-md-none d-lg-none" aria-current="page"
        href="#">Home</a>
    <a class="nav-link text-center p-3 flex-fill  d-lg-none" href="#">Producten</a>
    <a class="nav-link text-center p-3 flex-fill  d-lg-none" href="#">Over
        ons</a>
    <a class="nav-link text-center p-3 flex-fill d-lg-none" href="#">Projecten</a>
    <a class="nav-link text-center p-3 flex-fill d-lg-none" href="#">Veelgestelde vragen</a>
    <a class="nav-link text-center p-3 flex-fill d-lg-none" href="#">Werken
        bij</a>
    <a class="nav-link text-center p-3 flex-fill d-lg-none" href="#">Contact</a>

</div>